

.Category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Filter-container {
    flex: 1;
    /* Add other styling as needed */
}

.Product-list {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    /* Add other styling as needed */
}
