@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400;1,600&family=Outfit:wght@400;700&family=Victor+Mono:wght@500&display=swap');


.Sort-container{
    display: flex;
    flex-direction: column;
    padding-top: 14rem;
    margin: 0 auto;
    width: 1440px;
    max-width: 1440px
}


.Filter-container{
    display: flex;
    padding-top: 4rem;
}

.Form-wrapper{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid  rgba(230, 228, 228, 0.75);
}


.Filters-wrapper{
  font-size: 2.4em;  
  font-family: 'Victor Mono', monospace;
}

.Filters-wrapper .Dropdown{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.Dropdown select{
    height: 40px;
    width: 192px;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Victor Mono', monospace;
}


.Price-Range{
    font-weight: 400;
    font-size: 20px;
    font-family: 'Victor Mono', monospace;
}

.Form-button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    
    .Form-button:active {
      box-shadow: 0px 0px 0px 0px;
      top: 5px;
      left: 5px;
    }
    


    .Sort{
        display: block;
        align-self: center;
        padding-left: 20rem;
        font-weight: 600;
        font-size: 20px;
        font-family: 'Victor Mono', monospace;
    }
    

    .Sort select{
        font-size: 20px;
        font-family: 'Victor Mono', monospace;
    }

    .Form-header{
        background-color: rgba(230, 228, 228, 0.75);
        font-family:  'Victor Mono', monospace;
        font-size: 14;
        text-align: center;
    }
    

    
    @media (max-width: 1920px) {
        .Sort-container {
          width: 90%;
          max-width: 1728px; /* 90% of 1920px */
        }
      }
      
      /* Medium Screens (breakpoint at 1499px) */
      @media (max-width: 1499px) {
        .Sort-container {
          width: 100%;
          padding-top: 12rem;
          max-width: 1274px; /* 85% of 1499px */
        }

      
        .Sort {
            padding-left: 16rem;
        }

        .Sort label{
            font-size: 18px;
        }

        .Sort select{
            font-size: 17px;
        }

        .Filter-container{
            padding-top: 3rem;
            flex-direction: row;
            align-items: flex-start;
        }
        .Form-wrapper{
            transform: scale(0.6);
            height: 100%;
        }
        #product-counter{
            margin-left: 20.5rem;
        }
      }
      
      /* Small Screens (breakpoint at 1023px) */
      @media (max-width: 1023px) {
        .Sort-container {
            width: 100%;
            padding-top: 10rem;
            max-width: 869px; /* 85% of 1499px */
          }
  
        
          .Sort {
            position: relative;
            top: 16rem;
            left: 11.5rem;
          }
  
          .Sort label{
              font-size: 14px;
          }
  
          .Sort select{
              font-size: 14px;
          }
  
          .Filter-container{
            display: flex;
            padding-top: 3rem;
            flex-direction: column;
            position: relative;
             bottom: 9rem;
          }
          .Form-wrapper{
            transform: scale(0.6);
            height: 100%;
          }
          #product-counter{
              margin-left: 20.5rem;
          }
      }
      
      /* Extra Small Screens (breakpoint at 767px) */
      @media (max-width: 767px) {
        .Sort-container {
          width: 100%;
          max-width: 767px;
        }
      
        .Filter-container,
        .Form-wrapper {
          flex-direction: column;
        }
      }