@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400;1,600&family=Outfit:wght@400;700&family=Victor+Mono:wght@500&display=swap');

header{
  z-index: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    min-height: 130px;
    background-color: rgba(230, 228, 228, 0.75);
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    list-style: none;
}

li{
    font-family: 'Victor Mono', monospace;
    font-size: 1.5em;
    font-weight: 600;
}
ul li a {
    color: rgb(0, 0, 0);
}

ul li a:visited {
    color: black;
}

ul li a:active {
    color: rgb(0, 0, 0); /* Replace 'blue' with your desired color for the active link */
}


.Search-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Search-wrapper .Desktop-Search{
    width: 310px;
    height: 69px;
    border-radius: 50px ;
    border:3px white;
    font-size: 1.5em;
    text-align: center;
}

.Search-wrapper .Desktop-Search::placeholder{
    text-align: center;
  
}

.Search-wrapper .Desktop-Search:focus{
  outline: none;
}


.Search-wrapper a{
    font-size: 50px;
    margin-left: 20px;
    color: black;
    margin-right: 15px;
}



.Search-wrapper{
    position: relative;
}


.Search-wrapper .search-button{
    position: absolute;
    height: 69px;
    border-radius: 50px;
    left: 20px;
}


  

  @media (max-width: 1599px) {
    .Search-wrapper .search-button{
      display: none;
    }
    header {
      justify-content: space-evenly;
    }

    .Logo-wrapper{
      width: 140px;
    }

    .Logo-wrapper img{
      margin-top: 10px;
      width: 180px;
    }


    ul{
      gap:25px

    }

    ul li {
      font-size: 1em;
    }
    .Search-wrapper .Desktop-Search {
        width: 180px;
        height: 40px;
        font-size: 15px;
    }
    
    .Search-wrapper a{
      font-size: 35px;
    }

  }

  @media (max-width: 1023px) {

    .Search-wrapper .search-button{
      display: none;
  }

  header {
    display: block;
  }

  .Search-wrapper .Desktop-Search {
    width: 150px;
    height: 33px;
    font-size: 14px;
    display:none;
  }

  .desktop-nav {
    display: none !important; 
  }

  .Search-wrapper a{
    display: none;
  }
  
  }

  
  @media (max-width: 767px) {
    header {
      flex-direction: column; /* You might want to stack elements */
    }
    ul {
      flex-direction: column;
      gap: 15px;
    }
    .Search-wrapper input {
      display: none;
    }

  }
  