.Products-container{
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.bottom-message{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-left: 23em;
}

#product-counter{
  align-self: center;
  margin-left: 24.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
}


  /* Medium Screens (breakpoint at 1499px) */
  @media (max-width: 1599px) {

    .Products-container {
      justify-content: normal;
      gap: 9px;
    }
    #product-counter{
      margin-left: 20.5rem;
    }

  }
  
  /* Small Screens (breakpoint at 1023px) */
  @media (max-width: 1023px) {

    .Products-container{
      margin: 0 auto;
    }
    #product-counter{
      margin-left: 0rem;
  }

  }
  
  
